{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
      "react/jsx-filename-extension": 0,
      "react/jsx-closing-bracket-location": 0,
      "react/prop-types": 0,
      "react/prefer-stateless-function": 0,
      "import/no-named-as-default": 0,
      "import/no-named-as-default-member": 0,
      "object-curly-spacing": 0,
      "comma-dangle": ["error", "never"]
    },
}
